@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inika&family=Inria+Serif:wght@300&display=swap');


:root
{
    
    background-color: black;
}
.link
{
    @apply self-center;
    font-weight: 100;
    
    font-size: 22px;
    color: white;
    opacity: 50%;
    transition-duration: 0.3s;
}
.link:hover
{

    opacity: 1;
}
.myFont
{
    font-family: 'Inika', serif;

    font-family: 'Inria Serif', serif;
}
.spacing
{
    letter-spacing: 3px;
}
input 
{
    
   @apply w-[150px]  py-1 px-2 myFont bg-transparent focus:outline-none focus:border-[#242424]   border-solid border rounded-sm text-[#242424] border-[#242424] caret-[#242424] placeholder-[#242424];
}