@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inika&family=Inria+Serif:wght@300&display=swap');
::selection
{
    background:none;
    color:#ff6a00;
}
.rec1
{
    background-color: #FF0000;
    width: 100vw;
    height:100vh;
}
.pin-spacer
{
    width:0 !important;
    height:0 !important;
}


.cursor
{

    z-index: 10000;
    background-color: #ff00003b;
    pointer-events: none;
    position:absolute;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 1px solid #FF0000;

    transition: width .1s, height .1s;
}

.link
{
    @apply self-center;
    font-weight: 100;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.432);
    
    transition-duration: 0.3s;
}

.link:hover
{
    color:#FF0000;
    
}

.myFont
{
    font-family: 'Inika', serif;

    font-family: 'Inria Serif', serif;
}
.line
{
    @apply w-[100px] h-[0.5px] bg-black bg-opacity-25;  
}
input 
{
   @apply rounded-[5px] w-[100%] border-[1px] border-opacity-25 h-[40px] py-2 px-2 focus:outline-none caret-[#5E5E5E] text-[#5E5E5E];
}