@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inika&family=Inria+Serif:wght@300&display=swap');
::selection
{
    background:none;
    color:rgb(96, 53, 96);
}
:root
{   
    overflow: hidden;
    background-color: black;
}
*
{
    cursor:none;
    letter-spacing: 1.5px;
}
*:hover 
{
    cursor:none;
}
.cursor
{

    z-index: 1;
    background-color: #603560;
    pointer-events: none;
    position:absolute;
    width: 10px;
    mix-blend-mode: difference;
    height: 10px;
    border-radius: 100%;
    transition: width .1s, height .1s;
}

.link
{
    @apply self-center;
    font-weight: 100;
    font-size: 16px;
    color: white;
    opacity: 50%;
    transition-duration: 0.3s;
}

.link:hover
{
    color:rgb(96, 53, 96);
    opacity:1;
}

.myFont
{
    font-family: 'Inika', serif;

    font-family: 'Inria Serif', serif;
}

input 
{
    
   @apply w-[150px]  py-1 px-2 myFont bg-transparent focus:outline-none focus:border-[#242424]   border-solid border rounded-sm text-[#242424] border-[#242424] caret-[#242424] placeholder-[#242424];
}